{# empty Twig template #}
{%extends '::layout.html.twig'%}
{%block content%}
<div style="text-align: center">
    {%if status_code=='404' %}
        <img src="{{asset('bundles/clevercleversmsform/images/error404.png')}}" alt="error404"/>
           <h2>PAGE INTROUVABLE.</h2>
     {%elseif status_code=='403'%}
        <img src="{{asset('bundles/clevercleversmsform/images/error403.png')}}" alt="error403"/>
         <h2>PAGE NON AUTORISEE.</h2>
      {%elseif status_code=='500'%}
        <img src="{{asset('bundles/clevercleversmsform/images/error500.png')}}" alt="error500"/>
         <h2>ERREUR INTERNE.</h2>
    {%endif%}

       {# <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>#}
    </div>
{%endblock%}